<template name='file_browser_windowed'>
    {{> file_browser}}
</template>

<template name='file_browser_dialog'>
    {{> file_browser}}
</template>

<template name='file_browser'>
    {{#with currentUserContext}}
    <div class='fb-main'>
        <div class='fb-pane-navbar'>
            {{#with currentPath}}
                <input type='text' id='fb-current-path' value={{path}} />
            {{/with}}
        </div>
        <div class='fb-pane fb-pane-nav'>
            {{> fb_pane_nav}}
        </div>
        <div class='fb-pane fb-pane-main'>
            {{> fb_pane_main}}
        </div>
        <div class='fb-pane-statusbar'>
            {{> fb_pane_statusbar}}
        </div>
    </div>
    {{/with}}
</template>

<template name='fb_pane_nav'>
    <div class='fb-favorites'>
        <div class='title'><img src='/packages/jchristman_meteor-os/img/favorites-icon-24x24.png' /> Favorites</div>
        {{#each favorites}}
            {{> fb_favorite}}
        {{/each}} 
    </div>
</template>

<template name='fb_favorite'>
    {{#with convertPath}}
        <div class='fb-favorite'><img src='/packages/jchristman_meteor-os/img/fb-folder-icon-24x24.png' /> <span>{{text}}</span></div>
    {{/with}}
</template>

<template name='fb_pane_main'>
    <div id='fb-dropzone' class='fb-files'>
        <div id='previews-container' style='display: none;'></div>
        {{#with currentPathFiles}}
            {{#each files}}
                {{#with fileContext}}
                    {{> fb_file}}
                {{/with}}
            {{else}}
                <span>No files yet in this directory</span>
            {{/each}}
        {{/with}}
    </div>
</template>

<template name='fb_file'>
<div class='fb-file'>
    <img class='td' src={{fileIconURL}} /> 
    <span class='td'>{{text}}</span> 
    
    {{#if isFile}}
        {{#with fileContext}}
            {{#with FS.GetFile collectionName id}}
                {{#unless this.isUploaded}}
                <span class='td progressbar'>{{> FS.UploadProgressBar bootstrap=true}}</span>
                {{/unless}}
            {{/with}}
        {{/with}}
    {{/if}}
</div>
</template>

<template name='fb_pane_statusbar'>
    <div class='statusbar'>
        <div class='status-text'>{{currentStatus}}</div>
        <div class='status-buttons'>
            {{#with statusContext}}
                {{#each statusButtons}}
                    <button id={{buttonID}} class='btn btn-xs {{buttonClass}}'>
                        <span class='glyphicon {{buttonGlyphicon}}'></span> {{buttonText}}
                    </button>
                {{/each}}
            {{/with}}
        </div>
    </div>
</template>
