<template name='_meteor_os_settings_team_management_page'>
<div class='mos-settings-main'>
    <div class='mos-settings-tm-main'>
        <h2>Team Management</h2>
        <div class='scroll-container'>
            <div class='current-teams'>
                {{#each myteams}}
                <span class='team' data-id={{_id}}>
                        <b>{{name}}</b>
                        {{#if isOwner}}
                                <span class='label label-default'>Owner</span>
                                <div class='btn-group btn-group-xs' role='group'>
                                    <button type='button' class='btn btn-primary' data-action='ownerEditTeam'><span class='click-thru glyphicon glyphicon-th-list'></span></button>
                                </div>
                        {{else}}
                            {{#if isPending}}
                                <span class='label label-warning'>Pending</span>
                                <div class='btn-group btn-group-xs' role='group'>
                                    <button type='button' class='btn btn-success' data-action='acceptInvite'><span class='click-thru glyphicon glyphicon-ok'></span></button>
                                    <button type='button' class='btn btn-primary' data-action='viewInvite'><span class='click-thru glyphicon glyphicon-th-list'></span></button>
                                    <button type='button' class='btn btn-danger' data-action='declineInvite'><span class='click-thru glyphicon glyphicon-trash'></span></button>
                                </div>
                            {{else}}
                                <span class='label label-success'>Member</span>
                                <div class='btn-group btn-group-xs' role='group'>
                                    <button type='button' class='btn btn-danger' data-action='leaveTeam'><span class='click-thru glyphicon glyphicon-log-out'></span></button>
                                </div>
                            {{/if}}
                        {{/if}}
                    </span><br>
                {{else}}
                    No Teams yet
                {{/each}}
            </div>
        </div>
    </div>
    <div class='mos-settings-tm-btns'>
        <div class='btn-group'>
            <button type='button' class='btn btn-success' data-action='newTeam'><span class='glyphicon glyphicon-plus'></span> New Team</button>
        </div>
    </div>
</div>
</template>
