<template name='_meteor_os_settings_team_management_new_team'>
<div class="row">   
    <div class="col-md-12">  
        <form class="form-horizontal">  
            <div class="form-group">  
                <label class="col-md-4 control-label" for="name">Team Name</label>  
                <div class="col-md-4">  
                    <input id="name" name="name" type="text" placeholder="Team name" class="form-control input-md">  
                    <span class="help-block">Name your team</span>  
                </div>  
            </div>  
        </form>  
    </div>  
</div>  
<div class="row">   
    <div class="col-md-12">  
        <form class="form-horizontal">  
            <div class="form-group">  
                <label class="col-md-4 control-label" for="invite">Invite</label>  
                <div class="col-md-4">  
                    <!--<input id="invite" name="invite" type="text" placeholder="User name" class="form-control input-md">-->
                    {{> inputAutocomplete settings=settings id='invite' name='invite' type='text' placeholder='User name' class='form-control input-md'}}
                    <span class="help-block">Invite Users</span>  
                </div>  
            </div>  
        </form>  
    </div>  
</div>
</template>

<template name="userPill">
    <span class="label label-default">{{username}}</span>
</template>
